/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-nav {
    padding: 20px;  
}

.top-nav a {
    padding: 23px;
    text-decoration: none; 
    color: black; 
}

.top-nav a:hover {
    animation-duration: 3s;
    animation-name: navhover;
}

@keyframes navhover {
 from {
     background-color: black; 
     color: white; 
 }

 to {

    background-color: rgb(129, 34, 34);
    color: white;
    }
}

header {
    padding-top: 20px;
    padding-bottom: 20px; 
}


.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teal {
    background-color: teal;
}
.gold {
    background-color: gold;
}
.cadetblue {
    background-color: cadetblue;
}
.coral {
    background-color: coral;
}
.crimson {
    background-color: crimson; 
}
.forestgreen {
    background-color: forestgreen; 
}
.darkorchid {
    background-color: darkorchid; 
}
.hotpink {
    background-color: hotpink;
}
.indigo {
    background-color: indigo; 
}
.dodgerblue {
    background-color: dodgerblue;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}


/* About Page */

.about-page {
    line-height: 1.5;
}

.header-about {
    border-bottom: 1px dashed black;  
}

.header-about img {
    box-sizing: border-box;
    padding-bottom: 20px; 
}

.about-section {
    margin: auto; 
}

.about-info {
    display: flex; 
    margin: auto; 
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px; 
}

.about-item {
    margin: 20px; 
    width: 355px;
    box-sizing: border-box; 
    padding: 10px; 
    border-bottom: 1px dashed black; 
}

.about-item img {
    width: 100%;
} 


.about-item button {
    width: 140px; 
    height: 50px; 
    padding: 15px;
    border-radius: 12px;
    border: 2px solid black; 
    font-size: 16px;
}

.work-together {
    padding-top: 20px;
    padding-bottom: 20px; 
}


/* Blog Page */

.blog-intro {
    margin: auto; 
    box-sizing: border-box; 
    width: 80%;
}

.blog-intro h1 {
    padding-top: 30px; 
    text-align: center; 
    font-size: 50px;
    color: rgb(207, 148, 19);  
}

 .blog-intro img {
    margin: auto; 
    width: 80%;
    border-radius: 60px;  
}

.blog-intro p {
    line-height: 3;
    text-align: center; 
    color: rgb(48, 47, 47); 
}

.section-title {
    box-sizing: border-box;
    padding-top: 20px; 
    font-size: 40px;
    text-align: center;
    border-bottom: 3px solid black; 
}

.section-popular-title {
    font-weight: bold;
    text-transform: uppercase; 
    color: rgb(204, 53, 136); 
}

.popular-posts {
    display: flex; 
}

.a-popular-post {
    margin: 10px; 
    padding: 8px; 
    box-sizing: border-box;
    width: 400px;
}

.a-popular-post img {
    padding: 7px; 
    width: 100%;
    border: 1px solid rgb(172, 170, 170); 
    border-radius: 80px; 
}

.a-popular-post h3 {
    font-size: 30px; 
    text-align: center; 
}

.a-popular-post p {
    line-height: 2.3;
}

.a-popular-post button {
    width: 200px;
    height: 50px; 
    padding: 5px; 
    background-color: teal;
    font-size: 20px; 
    color: rgb(226, 232, 232);
    border-radius: 70px; 
}

.section-latest-title {
    padding-top: 40px; 
    text-transform: uppercase; 
    color: rgb(50, 49, 49); 
    border-bottom: 1px dashed rgb(50, 49, 49); 
}

.latest-posts {
    display: flex; 
    flex-wrap: wrap;
    padding: 1px; 
}

.new-post {
    margin: 5px; 
    width: 48%;
    padding-bottom: 20px; 
}

.new-post img {
    width: 100%;
    border: 2px solid rgb(117, 141, 11); 
    border-radius: 70px; 
}

.new-post h3 {
    color: rgba(122, 146, 17, 0.87); 
    font-size: 34px; 
}

.new-post p {
    padding: 5px; 
    line-height: 2.3;
}

.new-post button {
    width: 200px;
    height: 50px; 
    padding: 5px; 
    background-color: rgba(149, 187, 14, 0.527);
    font-size: 20px; 
    color: rgb(255, 255, 255);
    border-radius: 70px; 
}

.write-for-us {
    box-sizing: border-box;
    padding: 20px; 
}

.write-for-us p {
    line-height: 2;
}

/* Contact Page */

.contact-us {
    margin: auto; 
    width: 80%;
    line-height: 1.2;
    color: rgb(57, 55, 55); 
}

.contact-us h1 {
    padding-top: 40px; 
    font-size: 40px; 
}

.contact-us p {
    padding-bottom: 40px; 
}

.form {
    margin: auto; 
    padding: 10px;
    box-sizing: border-box;
    width: 60%;
    line-height: 1.9;
    background-color: rgba(176, 201, 87, 0.534); 
    text-align: center; 
    color: rgb(57, 55, 55); 
    border: 5px solid rgba(181, 201, 117, 0.534);
}

.form h1 {
    font-size: 40px; 
}

.form .field {
    padding: 10px; 
    width: 240px; 
    border: 0;
    background: white; 
}

.form .labeltext {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px; 
}

.form h4 {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px; 
}


footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}